<ion-content class="ion-padding">
  <div class="login-content">
    <div class="login-container">
      <h1 class="login-title">{{ 'REGISTER_TITLE' | translate }}</h1>
      <p class="login-subtitle">{{ 'REGISTER_SUBTITLE' | translate }}</p>

      <form [formGroup]="loginForm" (ngSubmit)="submit()">
         <ion-item>
          <ion-input 
            type="text" 
            formControlName="username"
            [label]="'USERNAME' | translate"            
            labelPlacement="floating"
            (ionFocus)="onFocus()"
          >
          </ion-input>
        </ion-item>
        @if (getError('username')) {
            <ion-note color="danger">
              {{ getError('username') | translate }}
            </ion-note> 
        }
        <ion-item>
          <ion-input 
            type="email" 
            formControlName="email"
            [label]="'EMAIL' | translate"
            labelPlacement="floating"
            (ionFocus)="onFocus()"
          >
          </ion-input>
        </ion-item>
        @if (getError('email')) {
            <ion-note color="danger">
              {{ getError('email') | translate }}
            </ion-note> 
        }
        <ion-item>
          <ion-input 
            type="password" 
            formControlName="password"
            [label]="'PASSWORD' | translate"
            labelPlacement="floating"
            enterkeyhint="done"
            (ionFocus)="onFocus()"
          >         
          </ion-input>
        </ion-item>
        @if (getError('password')) {
          <ion-note color="danger">
            {{ getError('password') | translate }}
          </ion-note>
        }

        <ion-item>
          <ion-input 
            type="password" 
            formControlName="confirmPassword"
            [label]="'CONFIRM_PASSWORD' | translate"
            labelPlacement="floating"
            enterkeyhint="done"
            (ionFocus)="onFocus()"
          >         
          </ion-input>
      </ion-item>
      @if (getError('confirmPassword')) {
        <ion-note color="danger">
          {{ getError('confirmPassword') | translate }}
        </ion-note>
      }

        <ion-button 
          expand="block" 
          type="submit" 
          class="login-btn"
          color="danger"

        >
          {{ 'REGISTER' | translate }}
        </ion-button>
      </form>

      <div class="sign-container">
        <p class="sign-text">{{ 'ALREADY_ACCOUNT_MESSAGE' | translate }}</p>
        <ion-button 
          fill="clear"
          routerLink="/login" 
        >
          {{ 'SIGN_IN' | translate }}
        </ion-button>
      </div>
      
    </div>
  </div>
</ion-content>


