<app-header></app-header>
<ion-content class="ion-padding">
  <div class="welcome-container">
    <div class="welcome-text">
      <h1 class="welcome-title">{{'WELCOME_TITLE' | translate}}</h1>
      <p class="welcome-subtitle">{{'WELCOME_SUBTITLE' | translate}}</p>
    </div>
    <ion-button 
      shape="round" 
      size="large" 
      strong 
      color="danger" 
      routerLink="/login" 
      class="get-started-btn">
      {{'GET_STARTED' | translate}}
    </ion-button>
  </div>
</ion-content>
